form{
  border-top: 2px solid black;
}

.place{
  margin-top: 10px;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 20px;
}

.review-entry{
  display: none;
}

.review{
  margin: 5px;
  background-color: lightyellow;
  font-family: Comic Sans MS;
  // border-radius: 20px;
}